*{
  margin: 0;
}
.container {
  padding-top: 0px;
  font-size: 30px;
}
.container_img{
  position: absolute;
  left: 100px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 0;
}
.container Button {
  font-size: 28px;
  position: absolute;
  right: 10px;
  bottom: 270px;
  right: 400px;
}

.dlym{
  width: 100%;
  height: 100vh;
  color: skyblue;

}

.sygs{
  width: 100%;
  height: 100vh;
  position: absolute;
 
  background: url('../Imge/gs\ logo.jpeg') no-repeat;
  background-size:5% 10%;
  
}
.srk{
  text-align: center;
  font-size: 28px;
  position: absolute;
  right: 10px;
  bottom: 270px;
  right: 400px;
}
.srks{
  text-align: center;
  font-size: 28px;
  position: absolute;
  right: 10px;
  bottom: 170px;
  right: 400px;
}

.lbt{
  padding-top: 160px;
  width: 100%;
  height: 75vh;
}

.imge{
width: 100%;
height: 70vh;
}