*{
  margin: 0;
}
.container {
  padding-top: 0px;
  font-size: 50px;
}
.container_img{
  position: absolute;
  left: 100px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 0;
}
.container Button {
  font-size: 28px;
  position: absolute;
  right: 10px;
  bottom: 270px;
  right: 400px;
}

.dlym{
  width: 100%;
  height: 100vh;
  color: skyblue;
  background: url(../Imge/123.jpeg) no-repeat;
  background-size:100% 100%;
  background-attachment:fixed;
}

.sygs{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-image: url(../Imge/bjt.jpeg);
}
.srk{
  text-align: center;
  font-size: 28px;
  position: absolute;
  right: 10px;
  bottom: 270px;
  right: 400px;
}
.srks{
  text-align: center;
  font-size: 28px;
  position: absolute;
  right: 10px;
  bottom: 170px;
  right: 400px;
}